/apq8084-sec-trlte-r00.dtb.reverse.dts
/apq8084-sec-trlte-r01.dtb.reverse.dts
/apq8084-sec-trlte-r02.dtb.reverse.dts
/apq8084-sec-trlte-r03.dtb.reverse.dts
/apq8084-sec-trlte-r04.dtb.reverse.dts
/apq8084-sec-trlte-r06.dtb.reverse.dts
/apq8084-sec-trlte-r07.dtb.reverse.dts
/apq8084-sec-trlte-r08.dtb.reverse.dts
/apq8084-sec-trlte-r09.dtb.reverse.dts
/apq8084-sec-trlte-r10.dtb.reverse.dts
/apq8084-sec-trlte-r12.dtb.reverse.dts
/apq8084-sec-trlte-r13.dtb.reverse.dts
/apq8084-sec-trlte-r14.dtb.reverse.dts
/apq8084-sec-trlte-r15.dtb.reverse.dts
